<%= render "partials/sidebar"%>
<div class="page_container">
  <%= render "partials/navbar"%>
    <br>
  <div class="row rowButton" >
    <div class="col-xs-12">
      <div class="box end-xs">
        <button type="button" id="button" name="button">
        <%= link_to "Crear un nuevo anuncio", new_notice_path %>
        </button>
      </div>
    </div>
  </div>
</div>
