<div class="row center-xs white-text middle-xs" id="navUp">
    <div class="col-xs-8 end-xs">
        <div class="box">
            <h2>Bienvenido a la plataforma FEM</h2>
        </div>
    </div>
    <div class="col-xs-4">

    </div>
</div>

<div class="row   " id="navLeft">
    <div class="col-sm-12">
        <div class="box start-xs">
            <nav>
                <ul>
                    <li>
                        <a href="">Inicio</a>
                    </li>
                    <li>
                        <a href="">Estadisticas globales</a>
                    </li>
                    <li>
                        <a href="">Estadisticas municipales</a>
                    </li>
                    <li>
                        <a href="">Iniciativas</a>
                    </li>
                    <li>
                        <a href="">Programas de gestion</a>
                    </li>
                    <li>
                        <a href="">Actividades</a>
                    </li>
                    <li>
                        <a href="">Programas de emprendedor</a>
                    </li>
                    <li>
                        <a href="">Agenda</a>
                    </li>
                </ul>
            </nav>
            <img src="fem.png" id="Fem">
        </div>
    </div>
</div>
