

<div class="sidebar " >
    <h2>Menu</h2>
            <nav>
                <ul>
                    <li>
                        <%= link_to "Inicio", notices_path %>
                    </li>
                    <li>
                        <a href="">Estadisticas globales</a>
                    </li>
                    <li>
                        <a href="">Estadisticas municipales</a>
                    </li>
                    <li>
                        <a href="">Iniciativas</a>
                    </li>
                    <li>
                        <a href="">Programas de gestion</a>
                    </li>
                    <li>
                        <a href="">Actividades</a>
                    </li>
                    <li>
                        <a href="">Programas de emprendedor</a>
                    </li>
                    <li>
                        <a href="">Agenda</a>
                    </li>
                    <li>
                        <a href="">Agregar nuevo usuario</a>
                    </li>
                    <li>
                      <%= link_to "Gestionar municipios", municipalities_path %>
                    </li>
                </ul>
            </nav>
</div>
