<div class="page_container">
  <div class="row">
    <div class="col-xs-3">
      <div class="box item">
       <div class="inner up">
         <div class="row" id="municiName">
           <div class="col-xs-12 center-xs">
             <div class="box">
               <h2><%= @municipality.nombre  %></h2>
             </div>
           </div>
         </div>
       </div>
       <div class="inner down"></div>
      </div>
    </div>
  </div>

</div>
