//@import "materialize";
// rgb(54, 55, 56) rgba(9, 64, 171, 0.98)
$wallpaper-nav: url(#{asset_path('blur-red-nav.png')});
$wallpaper-blur-red: url(#{asset_path('blur-red.jpg')});
$primaryfont:'Open Sans', sans-serif;

html,body{
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: $primaryfont;
}

#navUp{
  // font-family: $primaryfont;
  height: 3.5em;
  background-image: $wallpaper-nav;
  background-position: center;
  background-size: 100% 100%;
  // background-color: $nav-color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 0px 20px rgb(88, 75, 94);
  margin: 0px;
  #together{
    height: 40px;
  }
}

#log{
  min-width: 100%;
  margin: 0px;
  height: 100%;
  background-image: $wallpaper-blur-red;
  background-position: center;
  background-size: cover;
  #login{
    height: 100%;
  }
}
#user_email,#user_password{
  width: 40%;
  height: 2em;
  font-size: 1.3em;
  box-shadow: 0px 0px 15px;
  border-radius: 15px;
  border: none;
}
.actions{
  height: 3em;
#button{
  width: 10%;
  font-size: 1.2em ;
  font-family: $primaryfont;
  background-image: url("rojo.png");
  background-position: center;
  background-size: 100% 100%;
  margin-top: .7em;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: $primaryfont;
  transition: 0.3s;
}
#button:hover{
  transform: scale(1.2);
}
}
#button:hover{
  cursor: pointer;
}
.forgot{
  text-decoration: none;
  color: white;
}
.closeSesion{
  text-decoration: none;
}
#remember{
  margin-top: .4em;
}
#signUp{
  height: 100vh;
}








/* ==========================================================================
   Helper classes
   ========================================================================== */
.white-text{
  color: white !important;
}
.no-margin{
  margin: 0px;
}
.full-height{
  height: 100%;
}
.invisible{
  max-width: 0px;
  overflow: hidden;
}
